<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330268615299-7cr1mak8blfhggro5vb1598b6er017r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330268615299-7cr1mak8blfhggro5vb1598b6er017r9</string>
	<key>API_KEY</key>
	<string>AIzaSyDO7hBjhywZVTx-xnO04NC1HsGKLsgZBDc</string>
	<key>GCM_SENDER_ID</key>
	<string>330268615299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FincPicsels.Untind.MVP</string>
	<key>PROJECT_ID</key>
	<string>untind</string>
	<key>STORAGE_BUCKET</key>
	<string>untind.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330268615299:ios:f4def7326530f9e8</string>
	<key>DATABASE_URL</key>
	<string>https://untind.firebaseio.com</string>
</dict>
</plist>